In [2]:
import pandas as pd
answer = pd.read_csv('/opt/ml/data/answer_.csv')

In [3]:
predict

       user_id        isbn    rating
0        11676  0002005018  7.202195
1       116866  0002005018  8.312948
2       152827  0060973129  8.932558
3       157969  0374157065  5.799684
4        67958  0399135782  9.370594
...        ...         ...       ...
76694   278543  1576734218  5.552550
76695   278563  3492223710  7.408422
76696   278633  1896095186  4.460996
76697   278668  8408044079  3.241635
76698   278851  0767907566  4.436044

[76699 rows x 3 columns]

In [5]:
answer.rename(columns = {'User-ID':'user_id', 'ISBN':'isbn','Book-Rating':'rating'},inplace=True)

In [4]:
answer.drop(['Unnamed: 0'], axis=1, inplace=True)

In [7]:
import numpy as np
def rmse(real: list, predict: list) -> float:
    '''
    [description]
    RMSE를 계산하는 함수입니다.

    [arguments]
    real : 실제 값입니다.
    predict : 예측 값입니다.

    [return]
    RMSE를 반환합니다.
    '''
    pred = np.array(predict)
    return np.sqrt(np.mean((real-pred) ** 2))

In [61]:
print(rmse(list(answer['rating']), list(predict['rating'])))

1.8171189238911398

In [60]:
predict = pd.read_csv('/opt/ml/BaseLine_code/submit/20230419_090242_HistGradientBoostingRegressor.csv')